.contactSection {
    background-color: #f4f4f4;
    padding: 40px 20px;
    margin: 20px 70px;
    border-radius: 10px;
}

.contactSection h2 {
    color: #1848C2;
    text-align: center;
    font-size: 40px;
}

.contactForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
}
  
.contactForm input, .contactForm textarea, .contactForm button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    background-color: white;
}
  
.contactForm button {
    background-color: #1848c2;
    color: white;
    cursor: pointer;
    align-items: center;
}
  
.contactForm button:hover {
    background-color: #f6782b;
}