.whole {
    background-color: white;
}

/* Tabs Navigation */
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
    margin-top: 20px;
    border-bottom: 2px solid #ccc;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-right: 1px solid #ccc;
    font-size: 17px;
    color: black;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    color: #f6782b;
    background-color: #ccc;
}